html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}

h1 {
  color: #ffff;
  font-size: 144px;
  font-weight: 300;
}